<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RPG</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Random Pub Generator</h1>
  <hr/>
  <h3>Are you the indecisive type? New to the city? Maybe you just want to mix things up or add another layer of uncertainty to your dating life. Well, the RPG is here for you! Click the button below for a random pub/bar within 1 mile of Edinburgh's City Centre.</h3>
  <form action="/pub">
    <button type="submit">RPG</button>
  </form>
  {% block content %}
  {% endblock %}
  <p>*Disclaimer*</p> 
  <p>Do your research before you go to any of these places. I'll try and keep the list up to date, but with the uncertainty of covid times I can't guarantee these places will be open or even still exist. Also, I don't recommend any of these places... in fact alot of them probably aren't worth going to. Have fun!</p>
</body>
</html>